config/database.yml
db/*.sqlite3
log/*.log
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
*~
Capfile
config/deploy.rb
config/mongrel_cluster.yml
.DS_Store
app/geoip/*.dat
public/javascripts/base_*.js
public/javascripts/openlayers_*.js
public/stylesheets/base_*.css
