html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	margin-top: -1.35em;
}

.center {
	text-align: center;
}

#header {
	background-color: black;
	border-top: 3.5em solid #222;
	border-bottom: 2px solid grey;
	width: 100%;
	height: 3.5em;
	color: white;
}

#header h1 {
	font-family: Monaco, Verdana, sans-serif;
	font-size: 300%;
	float: left;
	position: relative;
	top: -1.5em;
	left: 1.1em;
	margin-bottom: 0em;
}

#header h1 a {
	color: white;
	text-decoration: none;
}

#header a {
	color: white;
	text-decoration: underline;
}

#header p {
	font-family: Arial, sans-serif;
	font-size: 80%;
	position: relative;
	top: -8.5em;
	left: 11em;
	letter-spacing: 0.4em;
}

p#lang-switcher {
	margin-left: 70%;
	margin-top: -4.5em;
	letter-spacing: 0em;
}

#toolbar {
	list-style: none;
	margin-left: 450px;
	position: relative;
	top: -4em;
	right: 3em;
	float: right;
}	

#toolbar li {
	float: left;
	margin-left: 1em;
}

#content {
	padding: 1.5em;
}

#map {
	border: 1px solid black;
	float: right;
}

.sidebar {
	width: 37%;
	font-size: 120%;
}

#about p {
	text-indent: 1em;
}

#about p.button {
	margin-top: 2em;
	border: 2px solid red;
}

#about a {
	font-size: 250%;
	font-family: Arial;
	text-align: center;
	text-decoration: none;
	color: red;
	display: block;
	padding: 0.5em;
}

#about a:hover {
	background-color: #ffcccc;
}

.step {
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 2em;
}

#step3 {
	text-align: center;
}

.action {
	text-align: center;
}

#done {
	text-indent: 1em;
	text-align: left;
}