<div id="map" style="width: 800px;height: 500px;border: 1px solid black;"></div>

<script type="text/javascript">
var map;

map = new OpenLayers.Map('map',
	{ controls: [],
	maxExtent: new OpenLayers.Bounds(-20037508,-20037508,20037508,20037508),
	numZoomLevels: 18,
	maxResolution: 156543,
	units: 'm',
	displayProjection: new OpenLayers.Projection('WGS84'),
	projection: "EPSG:41001"});


var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
var layerTah = new OpenLayers.Layer.OSM.Osmarender("Tiles@Home");
map.addLayers([layerMapnik,layerTah]);

map.addControl(new OpenLayers.Control.LayerSwitcher());
map.addControl(new OpenLayers.Control.Navigation());
map.addControl(new OpenLayers.Control.PanZoomBar());
map.addControl(new OpenLayers.Control.MousePosition({}));

var center = new OpenLayers.LonLat(<%= @location[:lon] %>,<%= @location[:lat] %>);
center.transform(new OpenLayers.Projection('WGS84'), map.getProjectionObject());

map.setCenter(center, <%= @location[:zoom] %>);

</script>
