<html>
	<head>
		<title></title>
		<script src="openlayers/lib/OpenLayers.js"></script>
		<script src="openlayers/lib/proj4js/lib/proj4js.js"></script>
		<script src="openlayers/OpenStreetMap.js"></script>        	
		<script src="javascripts/prototype.js"></script>
		<script src="openlayers/lib/Typocosmy.js"></script>
		
	</head>
	<body>
		<%= yield %>
	</body>
</html>