<html>
	<head>
		<title></title>
		<script src="openlayers/OpenLayers.js"></script>
		<script src="openlayers/OpenStreetMap.js"></script>
        	<script type="text/javascript">
        	function lonLatToMercator(ll) {
           		var lon = ll.lon * 20037508.34 / 180;
           		var lat = Math.log(Math.tan((90 + ll.lat) * Math.PI / 360)) / (Math.PI / 180);
           		lat = lat * 20037508.34 / 180;
           		return new OpenLayers.LonLat(lon, lat);
        	}
        	</script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>