<html>
	<head>
		<title>Report a map bug - Typocosmy</title>
		<script src="/openlayers/lib/OpenLayers.js"></script>
		<script src="/openlayers/lib/proj4js/lib/proj4js.js"></script>
		<script src="/openlayers/OpenStreetMap.js"></script>        	
		<script src="/javascripts/prototype.js"></script>
		<script src="/openlayers/lib/Typocosmy.js"></script>
		<link rel="stylesheet" href="/stylesheets/typocosmy.css" />
		
	</head>
	<body>
		<div id="header">
			<h1><a href="/errors">Typocosmy</a></h1>
			<p>Beta :)</p>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		
		<div id="footer"></div>
	</body>
</html>